---
import Base from '@/layouts/Base.astro'
import ThemeSwitcher from '@/components/theme-switcher.astro'
---

<Base>
  <div class="h-screen w-full bg-bg dark:bg-darkBg">
    <ThemeSwitcher />
  </div>
</Base>
